fieldset
legend
  span.field-name Page orientation
  .radio
    label(for='orientation1')
      input(type='radio' name='orientation' value='portrait' id='orientation1')
      | Portrait
  .radio
    label(for='orientation2')
      input(type='radio' name='orientation' value='landscape' id='orientation2' checked)
      | Landscape
h3 Full requirements table with informative sections
.btn-group
  button.btn.btn-primary(type='submit' formaction='download_full_en') Download (English)
  button.btn.btn-primary(type='submit' formaction='download_full_fr') Download (French)
h3 Testable requirements and determination of compliance table
.btn-group
  button.btn.btn-primary(type='submit' formaction='download_test_table_en') Download (English)
  button.btn.btn-primary(type='submit' formaction='download_test_table_fr') Download (French)
h3 Headered requirements with details
.btn-group
  button.btn.btn-primary(type='submit' formaction='download_clause_details_en') Download (English)
  button.btn.btn-primary(type='submit' formaction='download_clause_details_fr') Download (French)
h3 Nested list of requirements, no details
.btn-group
  button.btn.btn-primary(type='submit' formaction='download_clause_list_en') Download (English)
  button.btn.btn-primary(type='submit' formaction='download_clause_list_fr') Download (French)