//- Note that it is impossible to select only 1 clause, so the grammar below will not break.
if item_list.length > 0
  h3 Scope
  p
    | The offered solution shall meet Clauses 
    each item, i in item_list
      if i < item_list.length - 1
        | #{item.number}, 
      else
        | and #{item.number}.