//- Note that it is impossible to select only 1 clause, so the grammar below will not break.
if test_list.length > 0
  h3 Scope
  p
    | The offered solution should comply with Clauses 
    each item, i in test_list
      if i < test_list.length - 1
        | #{item.number}, 
      else
        | and #{item.number}.