extends item_form

block form

  form(method='POST' action='')
    div.form-group
      label(for='name') Clause title (required):
      input#name.form-control(type='text' placeholder='' required='true' name='name' value=(undefined===item ? '' : item.name))
    button.btn.btn-primary(type='submit') Submit