extends layout

block content
  h1 #{title}: #{clause.name}
  
  p Do you really want to delete this clause?
  
  form(method='POST' action='')
    div.form-group
      input#clauseid.form-control(type='hidden',name='clauseid', required='true', value=clause._id )

    button.btn.btn-primary(type='submit') Delete