extends layout

block content
  h1#wb-cont(property="name")= title
  a(href='/edit/infos') Edit informative sections
  br
  a(href='/edit/clauses') Edit functional accessibility requirements (Clauses 5 - 13)
  //- br
  //- a(href='/edit/presets') Edit commodity presets
