extends layout

block content
  h1#wb-cont(property="name")= title
  p Note: The rich text editor is accessible apart from table and image editing. These features are only needed for editing the "Tables and figures" annex. As a workaround, use Internet Explorer 11 to perform the editing in plain text (HTML).
  a(href='/edit/infos') Edit informative sections
  br
  a(href='/edit/clauses') Edit functional accessibility requirements (Clauses 5 - 13)
  //- br
  //- a(href='/edit/presets') Edit commodity presets
