extends layout

block content
  h1#wb-cont(property="name")= title
  a(href='/view/infos') View all informative sections
  br
  a(href='/view/clauses') View all functional accessibility requirements (Clauses 5 - 13)
  br
  a(href='/view/create') Select functional accessibility requirements to include