extends layout

block content
  h1 #{title}

  .wb-frmvld.nojs-hide
    block form
      p Form not implemented

  if errors 
   ul
    for error in errors
     li!= error.msg

  if item
    hr
    p
      a(href=item.url+'/delete') Delete