doctype html
html(lang='en')
  head
    title= title

    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    
    link(href='/GCWeb/assets/favicon.ico' rel='icon' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/GCWeb/css/theme.min.css')

  body(vocab='http://schema.org/' typeof='WebPage')

    ul#wb-tphp
      li.wb-slc
        a.wb-sl(href="#wb-cont") Skip to main content

    header
      include includes/header.pug
      
      nav#wb-bc(property='breadcrumb')
        h2 You are here:
        .container
          ol.breadcrumb
            li
              a(href='/') Home

    main(property="mainContentOfPage" class="container")
      block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js")
    script(src="/wet-boew/js/wet-boew.min.js")
    script(src="/GCWeb/js/theme.min.js")