extends layout

block content
  h1#wb-cont(property="name")= title
  p
    strong Use this form to select relevant requirements for the <abbr title="Information Communication Technology">ICT</abbr>.
  p Answer the following questions in order.
  p Based on your responses, the relevant requirements will be selected.

  -// Wizard logic is contained in a11y-req.js
  hr

  .row
    .col-md-6
      include includes/wizard_form

    .col-md-6
      section
        form(method='POST' action='/' novalidate='novalidate')
          include includes/clause_tree

          button.btn.btn-primary(type='submit') Generate requirements