extends layout

block content
  h1#wb-cont(property="name")= title
  //- h3 About
  p Use this tool to generate requirements documents specific to the Information Communication Technology (ICT) you are procuring. Requirements are based on the  EN 301 549 V2.1.2 (2018-08).
  //- h3 Instructions
  //- ol
  //-   li Answer questions under "Does the ICT include:" in the order they are listed.
  //-   ul
  //-     li Based on your responses, relevant requirements from the EN 301 549 will automatically be selected.
  //-   li If necessary, fine tune the requirements by manually selecting "Required clauses".
  //-   li Click the "Generate requirements" button.
  //-   ul
  //-     li Documents will be generated which include only the required clauses.
  //-   li On the next page, download the generated ICT accessibility requirements documents.
  //-   li Give the requirements documents unique names and append them to your RFx.

  -// Wizard logic is contained in a11y-req.js
  hr

  form(novalidate='novalidate' method='POST' action='')
    .row
      .wb-tabs
        .tabpanels
          details#details-step1
            summary Step 1: Define ICT functionality
            include includes/wizard_form
            a.btn.btn-default.btn-next.wb-tabs-ext(href='#details-step2') Next
          details#details-step2
            summary Step 2: Refine clause selection
            include includes/clause_tree
            a.btn.btn-default.btn-next.wb-tabs-ext(href='#details-step3') Next
          details#details-step3
            summary Step 3: Generate requirements documents
            include includes/download_chooser