// Make changes in style.scss (not style.css)

.form-control {
  width: 100%;
}

main {
  padding-bottom: 30px;
}

// WET Overrides

.form-control {
  height: auto;
  min-height: 37px; // Hard-coded height fails Resize Text criterion
}

legend {
  float: none;
}

fieldset {
  border-top: 0;
  padding-top: 0;
}

// Clause tree (from ARIA example with minor edits)

ul[role="tree"] {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

ul[role='group'] {
  padding-left: 20px;
}

[role='treeitem'] {
  list-style: none;
}

[role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

[role="treeitem"][aria-expanded="true"] > ul {
  display: block;
}

[role="treeitem"] i {
  display: none;
  width: 20px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  top: 9px;
  left: 0;
  cursor: pointer;
}

i.expand {
  background-image: url('data:image/svg+xml;utf8,<svg width="2048" height="2048" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1491 1005l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"/></svg>');
}

i.collapse {
  background-image: url('data:image/svg+xml;utf8,<svg width="2048" height="2048" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1811 936l-742 741q-19 19-45 19t-45-19l-742-741q-19-19-19-45.5t19-45.5l166-165q19-19 45-19t45 19l531 531 531-531q19-19 45-19t45 19l166 165q19 19 19 45.5t-19 45.5z"/></svg>');
}

i.info {
  background-image: url('data:image/svg+xml;utf8,<svg width="2048" height="2048" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1280 1504v-160q0-14-9-23t-23-9h-96v-512q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zm-128-896v-160q0-14-9-23t-23-9h-192q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>');
}

[role="treeitem"] summary {
  display: inline-block;
  list-style-type: none;
}

[role="treeitem"] summary:focus,
[role="treeitem"] summary:hover {
  background: inherit;
  color: inherit;
}

[role="treeitem"].endNode > .checkbox > i.info {
  position: absolute;
  left: auto;
  right: 3px;
  top: 8px;
  height: 18px;
}

[role="treeitem"].endNode label {
  // Prevent overlapping with "info" icon
  padding-right: 25px;
}

[role="treeitem"].endNode.hover > .checkbox > i.info,
[role="treeitem"].endNode > .checkbox:hover > i.info,
[role="treeitem"].endNode.focus > .checkbox > i.info,
[role="treeitem"].endNode > .checkbox:focus > i.info {
  display: inline-block;
}

[role="treeitem"][aria-expanded="false"] > div.checkbox > i.expand,
[role="treeitem"][aria-expanded="true"] > div.checkbox > i.collapse {
  display: inline-block;
}

[role="treeitem"].focus,
[role="treeitem"] div.focus {
  background-color: #eee;
  // outline: solid 2px #666;
}

// [role="treeitem"].hover,
// [role="treeitem"] div:hover {
//   background-color: #ddd;
// }

[role="treeitem"] .detail-inner p:last-child {
  margin: 0;
}

[role="treeitem"] .detail-inner {
  background: #fff;
  overflow: hidden;
  font-size: 14px;
  border-left: solid 2px #666;
  margin: 10px 22px;
  padding: 3px 5px 3px 10px;
  display: none;
}


[role="treeitem"][aria-expanded='true'] > .checkbox > .detail-inner {
  display: block;
}

[role="treeitem"].informative label,
[role="treeitem"].informative input {
  cursor: not-allowed;
  opacity: 0.7;
}

.clause-tree .checkbox {
  margin: 0;
  padding: 5px 0 5px 20px;
}

.clause-tree .checkbox input[type="checkbox"] {
  position: relative;
  margin-right: 10px;
}