// Make changes in style.scss (not style.css)

.form-control {
  width: 100%;
}

main {
  padding-bottom: 30px;
}

// WET Overrides

.form-control {
  height: auto;
  min-height: 37px; // Hard-coded height fails Resize Text criterion
}

legend {
  float: none;
}

fieldset {
  border-top: 0;
  padding-top: 0;
}

// Clause tree (from ARIA example with minor edits)

ul[role="tree"] {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

[role='treeitem'] {
  list-style: none;
}

[role='treeitem'].endNode {
  margin-left: 20px;
}

[role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

[role="treeitem"][aria-expanded="true"] > ul {
  display: block;
}

[role="treeitem"] > div.checkbox::before {
  display: inline-block;
  width: 20px;
}

[role="treeitem"][aria-expanded="false"] > div.checkbox::before {
  content: '⯈';
}

[role="treeitem"][aria-expanded="true"] > div.checkbox::before {
  content: '⯆';
}

[role="treeitem"]:focus {
  outline: 0;
}

[role="treeitem"].focus,
[role="treeitem"] div.focus {
  border-color: black;
  background-color: #eee;
}

[role="treeitem"].hover,
[role="treeitem"] div:hover {
  background-color: #ddd;
}

[role="treeitem"].informative {
  opacity: 0.5;
}

[role="treeitem"].informative label,
[role="treeitem"].informative input {
  cursor: not-allowed;
}

.clause-tree .checkbox {
  margin: 0;
  padding: 5px 0;
}

.clause-tree .checkbox input[type="checkbox"] {
  position: relative;
  margin-right: 10px;
}